@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .radial-gradient {
    background: radial-gradient(80% 80% at top, #253027, #212429);
  }

  .numbers-font {
    font-family: 'Orbitron', sans-serif;
  }

  .numbers-font-2 {
    font-family: 'Roboto Mono', sans-serif;
  }

  .numbers-font-3 {
    font-family: 'Share Tech Mono', sans-serif;
  }
}